name: Create and push to docker registry step-node image

on:
  push:
    branches: ["master", "step-node", "step-testnet", "subnet-evm-v0.2.8"]

env:
  DOCKER_USER: ${{secrets.DOCKER_USER}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  REPO_NAME: ${{secrets.REPO_NAME}}
  IMAGE_NAME: step-node

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        continue-on-error: true
      - name: Login docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Init submodules
        run: git submodule update --init
      - name: Build image, tag and push to registry
        run: | 
          docker buildx build \
            --tag $DOCKER_USER/$IMAGE_NAME:$(git rev-parse --short HEAD) \
            --tag $DOCKER_USER/$IMAGE_NAME:$(git rev-parse --abbrev-ref HEAD) \
            --tag $DOCKER_USER/$IMAGE_NAME:latest \
            --push \
            --cache-from=type=registry,ref=$REPO_NAME/$DOCKER_USER/$IMAGE_NAME:$(git rev-parse --abbrev-ref HEAD) \
            .
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ secrets.DOCKER_USER }}/step-node
